<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>538F44B0-C829-4E15-A6D0-05AA60F7AE2F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FC4B8143-823A-4920-93FA-C0350C2434F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Geoff Franks</string>
	<key>description</key>
	<string>Retrieve public SSH keys for a user</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>SSH Keys</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>keys</string>
				<key>subtext</key>
				<string>Retrieve public SSH keys for user</string>
				<key>text</key>
				<string>SSH Keys</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>538F44B0-C829-4E15-A6D0-05AA60F7AE2F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<true/>
				<key>url</key>
				<string>http://github.com/{query}.keys</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>FC4B8143-823A-4920-93FA-C0350C2434F8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>538F44B0-C829-4E15-A6D0-05AA60F7AE2F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>FC4B8143-823A-4920-93FA-C0350C2434F8</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
